// $grey:          #50514F;
// $red:           #F25F5C;
// $orange:        #FF6F59;
// $yellow:        #FFE066;
// $blue:          #247BA0;
// $green:         #70C1B3;
// $dark-green:    #469653;
// $dark-grey:     #283044;
// $dark-red:      #832232;
// $violet:        #370031;
// $navy:          #0B0033;
// $purple:        #391463;
// $light-blue:    #1977F6;
// $light-green:   #5DD39E;


/* Coolors Exported Palette - coolors.co/ffa69e-ff7e6b-8c5e58-a9f0d1-fff7f8 */

$color01: #ffa69e; //rgba(255, 166, 158, 100)
$color02: #ff7e6b; //rgba(255, 126, 107, 100)
$color03: #8c5e58; //rgba(140, 94, 88, 100)
$color04: #a9f0d1; //rgba(169, 240, 209, 100)
$color05: #fff7f8; //rgba(255, 247, 248, 100)

/* Coolors Exported Palette - coolors.co/9381ff-b8b8ff-f8f7ff-ffeedd-ffd8be */

$color06: #9381ff; //rgba(147, 129, 255, 100)
$color07: #b8b8ff; //rgba(184, 184, 255, 100)
$color08: #f8f7ff; //rgba(248, 247, 255, 100)
$color09: #ffeedd; //rgba(255, 238, 221, 100)
$color10: #ffd8be; //rgba(255, 216, 190, 100)

/* Coolors Exported Palette - coolors.co/cffcff-aaefdf-9ee37d-63c132-358600 */

$color11: #cffcff; //rgba(207, 252, 255, 100)
$color12: #aaefdf; //rgba(170, 239, 223, 100)
$color13: #9ee37d; //rgba(158, 227, 125, 100)
$color14: #63c132; //rgba(99, 193, 50, 100)
$color15: #358600; //rgba(53, 134, 0, 100)

/* Coolors Exported Palette - coolors.co/ffffff-81f4e1-56cbf9-ff729f-d3c4d1 */

$color16: #ffffff; //rgba(255, 255, 255, 100)
$color17: #81f4e1; //rgba(129, 244, 225, 100)
$color18: #56cbf9; //rgba(86, 203, 249, 100)
$color19: #ff729f; //rgba(255, 114, 159, 100)
$color20: #d3c4d1; //rgba(211, 196, 209, 100)
