body {
    padding-top: 20px;
    font-size: 1.3rem;
}

.logo-glyph {
    width: 60%;
    padding-top: 60%;
    background-color: #4eb980;
    border-radius: 60%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.info-block {
    text-align: center;    
}

.info-block hr {
    border-top-color: #4eb980;
    margin-top: 0;
    margin-bottom: 1rem;
}

.info-list li {
    list-style-type: none;
    margin-bottom: .25rem;
}

.info-list ul {
    margin-bottom: .5rem;
}

.info-list h6 {
    margin-bottom: .5rem;
}

.info-list > i.fa {
    color: #4eb980;
    font-size: 2rem;
}

.chat-block {
    width: 100%;
    height: 90%;
}

.chat-block ul {
    list-style-type: none;
    font-size: 1.5rem;
}

.username {
    color: #4eb980;
}

.me {
    text-align: right;
}

.message-box {
    max-height: 10%;
}

.message-box input {
    display: inline;
}

.info-box {
    height: 90%;
}

.tagline {
    color: #4eb980;
    text-align: right;
}

.button-green {
    color: white;
    background-color: #38BF21;
    border-color: #38BF21;
}

.button-green:hover {
    color: #26FF00;
}
