<html>
    <head>
        <title>Big Room</title>

        <link rel="stylesheet" href="lib/skeleton/css/normalize.css">
        <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="lib/skeleton/css/skeleton.css">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body ng-app="room">
        <div class="container" ng-controller="Home as home">
            <div class="row info-box">
                <div class="three columns info-block">
                    <div class="logo">
                        <div class="logo-glyph"></div>
                        <h3>big room</h3>
                    </div>

                    <div class="info-list">
                        <h6>Channels <i class="fa fa-plus"></i></h6>
                        <ul>
                            <li>#home</li>
                            <li>#general</li>
                            <li>#bicycle</li>
                            <li>#random</li>
                            <li>#hackEDU</li>
                        </ul>

                        <i class="fa fa-caret-down"></i>
                    </div>

                    <hr />

                    <div class="info-list">
                        <h6>People <i class="fa fa-plus"></i></h6>
                        <ul>
                            <li>@paked</li>
                            <li>@rafej</li>
                            <li>@samfi</li>
                            <li>@zrl</li>
                            <li>@msw</li>
                            <li>@ajb</li>
                            <li>@jonl</li>
                            <li>@ssun</li>
                        </ul>

                        <i class="fa fa-caret-down"></i>
                    </div>
                </div>

                <div class="six columns">
                    <div class="chat-block">
                        <ul>
                            <li ng-repeat="message in logs"><span class="username">{{ message.from }}:</span> {{ message.content }}</li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="ten columns">
                            <input class="u-full-width" ng-model="home.text" type="text"/>
                        </div>

                        <div class="one column">
                            <button ng-click="home.send();" class="button button-green">Send</button>
                        </div>
                    </div>
                </div>

                <div class="two columns">
                    <h6 class="tagline"><i class="fa fa-circle"></i> big room</h6>
                </div>
            </div>
        </div>

        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular-websocket/angular-websocket.js"></script>
        <script src="js/factories/connection.js"></script>
        <script src="js/factories/chat.js"></script>
        <script src="js/controllers/home.js"></script>

        <script src="js/main.js"></script>
    </body>
</html>
